.flx-meet-team .owl-theme .owl-controls {
    margin-top: 55px;
    padding-bottom: 0;
    display: block;
}
.flx-meet-team .owl-theme .owl-controls .owl-prev,.flx-meet-team .owl-theme .owl-controls .owl-next {
    position: absolute;
    bottom: 0;
    background: #f2f2f2;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 36px;
}
.flx-meet-team .owl-theme .owl-controls i[class^="icon-"]:before, .flx-meet-team .owl-theme .owl-controls i[class*=" icon-"]:before {
    line-height: 36px;
}
.flx-meet-team .owl-theme .owl-controls .owl-prev {
    left:10px;
}
.flx-meet-team .owl-theme .owl-controls .owl-next {
    right:10px;
}

ul#flx-team-slides {
    text-align: center;
}
ul#flx-team-slides li {
    float:none;
    display: inline-block;
}

/* Scrollbar */
.tab-content-3 {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.scrollbar-container {
    width: 100%;
    position: relative;
    padding: 10px 0 20px;
}

/* Popup Blog Page */
.blog_page .mfp-ajax-holder .mfp-content{
    background-color:#fff;
    width: 70%;
    margin: 30px auto;
}

.blog_page .mfp-ajax-holder .mfp-content .wrapper {
    width: 97%;
    padding-top:20px;
}

.blog_page .mfp-ajax-holder .mfp-content .flx-entry-item .flx-entry-thumb img,

.blog_page .mfp-ajax-holder .mfp-content .flx-entry-box .flx-entry-thumb img {
    display:block;
    width:100%;
    height:auto;
}
.blog_page .mfp-ajax-holder .mfp-content .flx-related-post {
    margin-top:20px;
}
.blog_page button.mfp-close {
    right: -4%;
    top: 0px;
}
/* Comment Form */
.comment-form .form-text,.comment-form .form-textarea-wrapper textarea {
    width: 100%;
}

body.not-front.toolbar #block-locale-language{
    top:30px;
}
body.not-front.toolbar-drawer #block-locale-language{
    top:65px;
}