/*------------------------------------------------------------------------
# Theme settings.css
# ------------------------------------------------------------------------
# Author: Neo Khuat
# Websites:  http://www.megadrupal.com -  Email: info@megadrupal.com
-------------------------------------------------------------------------*/

.hide {display: none}
.md-wrap {
    border: 1px solid #ccc;
}
.md-links {
    text-align: right;
    font-size: 11px;
    padding: 10px 0
}
.md-links a {
    color: #0074D4;
}
.md-links a:hover {
    color: #333;
}
.md-wrap a:hover,
.md-wrap a.active {
    color:#0074D4;
}
.md-wrap h3,
.md-wrap fieldset .fieldset-legend {
    border-bottom: 1px solid #eee;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0;
    padding: 0 0 6px;
    clear: left;
}
.md-wrap fieldset .fieldset-legend {
    display: block;
    margin: 0;
    padding: 0;
    position: inherit;
    text-transform:none;
}
.md-wrap legend {
    display: block;
}
.md-wrap ul {
    margin: 0 !important;
    padding: 0 !important;
}
.md-wrap ul.steps {
    list-style:decimal;
    padding-left: 20px !important;
}
.md-wrap fieldset .fieldset-wrapper {
    padding: 0
}
.md-wrap fieldset fieldset fieldset {
    background: none
}
/* Form items
--------------------------------------------------------------------------*/
.md-wrap fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.filewrapper {
    display: inline;
    position: absolute;
    overflow: hidden;
    height: 29px;
    width: 98px;
    cursor:pointer;
}
.filewrapper .button {
    margin: 0;
}
.filetext {
    position: absolute;
    left: 12px;
    top: 0;
    z-index: 1;
    width: 98px;
    text-align: center
}
.filewrapper .form-file {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}
.md-wrap .button,
.filewrapper,
.colorpicker .button {
    background: url(../images/theme-settings/sprite.png) #005EFF repeat-x 0 -947px;
    border: 1px solid #0074D4;
    color: #fff;
    cursor:pointer;
    overflow: hidden;
    height: 27px;
    line-height: 27px;
    margin-left:4px;
    font-size: 13px;
    padding: 0 17px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;

}
.md-wrap .button:hover,
.filewrapper:hover,
.colorpicker .button:hover {
    background-position: 0 -976px;
}
.md-wrap .button:active,
.filewrapper:active,
.colorpicker .button:active {
    background-position: 0 -1003px;
}
.md-wrap .btn-upload {
    padding-left: 12px;
}
.btn-upload span {
    background: url(../images/theme-settings/sprite.png) no-repeat 0 -403px;
    float: left;
    height: 27px;
    width: 14px;
}
.md-wrap .form-item {
    clear: both;
    margin: 0 0 10px;
    padding: 9px 0;
}
#edit-theme-settings .form-item,
#div-breadcrumb-collapse .form-item,
.form-item-css3-textarea,
.form-item-responsive {
    padding: 0 !important;
}
.fieldset-description {margin-bottom: 10px}
.md-wrap .form-item label {
    display: block;
    float: none;
    margin: 0 0 6px;
}
.md-wrap .form-type-checkbox label {
    display: inline;
}
.form-item div.description {
    color: #666;
    font-size: 11px;
    margin: 5px 0;

}
.md-wrap input.form-text,
.md-wrap textarea,
.md-wrap textarea.form-textarea {
    background: #F8F8F8;
    border: 1px solid #ddd;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 4px;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.md-wrap input.form-text {
    height: 18px;
    width: 320px;
}
.md-wrap input.form-text:focus, .md-wrap textarea:focus {
    background: #fff;
    outline: 0;
    border-color: rgba(0, 116, 212, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 116, 212, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 116, 212, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 116, 212, 0.6);
}
.md-wrap input.form-colorpicker,
.md-wrap .form-font-size input.form-text {
    width: 60px;
}
.md-wrap .form-font-family {
    clear:none;
    float: left;
    width: 310px;
}
.md-wrap .form-font label,
.md-wrap .form-font-family label,
.md-wrap .form-text-style label,
.labelleft,
.md-wrap #edit-design-background .form-font-color label,
.md-wrap .form-item-choose-bg label,
.md-wrap .form-font-color label,
.md-wrap .form-borderstyle label {
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    margin-right:6px;
}
.md-wrap .form-font-size {
    clear:none;
    width: 80px;
}
.md-wrap .form-font-weight {
    clear:none;
    margin: 0 10px;
}
.md-wrap .form-font-sizetype {
    clear:none;
    float: left;
    width: 90px
}
.form-font {float: left; margin-bottom:  12px}
.form-font label,
.form-font-size {display: inline; margin: 0 10px 0 0; float: none !important;}
.form-font-weight {display: inline;}
.form-select2,
.form-select3 {margin: 0 10px 0 0}

.md-wrap .form-highlight,
.md-wrap .form-strikethrough {
    width: 100px;
    float: left;
    padding: 4px 0 0;
}
.md-wrap .form-link-color {
    width: 150px;
    float: left;
}
.md-wrap .form-strikethrough {width: 150px;}
.md-wrap .form-text-style {
    clear: both;
}
.form-text-style .form-item .form-item {
    clear: none;
    float: left;
    width: 80px;
    padding-top: 0;
}
.form-text-style .form-item .form-item label {float: none; font-size: 0.923em}
.labelleft {float: left !important}
.form-text-effect .form-item {padding-top: 0 !important}
.withpreviewbtn .form-item {
    float: left;
}
input.form-checkbox,input.form-radio {
    margin-left:6px;
}
.form-select2, .form-select3 {
    border: 1px solid #DEDEDE;
    color: #333333;
    padding:2px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}
.textpreview {
    display: none;
    background: #FDFDFD;
    border: 1px solid #ccc;
    clear: both;
    word-wrap: break-word;
    padding: 20px;
    position:relative;
}
.textpreview a {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width:16px;
    height: 16px;
    text-indent: -500em;
    background: url(../images/theme-settings/sprite.png) no-repeat -56px -1057px;
}
.textpreview a:hover {background-position: -72px -1057px;}
.previewbtn {
    width: 40px;
    height: 30px;
    float: left;
    margin-left: 20px;
    padding-top: 0;
}
.previewbtn a {
    display: block;
    text-indent: -500em;
    background: url(../images/theme-settings/sprite.png) no-repeat -28px -1057px;
    width: 28px;
    height: 28px;
}
.previewbtn a.pbtn-refresh {background-position: 0 -1057px;}

#edit-design-background .description {
    clear: left;
    padding-left: 155px;
    margin-top: 0;
}
.md-wrap #edit-design-background .form-font-color label,
.width155 label,
.md-wrap .form-item-choose-bg label,
.md-wrap .form-borderstyle label{
    width: 155px !important;
}
.width250 label {
    width: 250px !important;
}

#design-bg-custom {padding-left: 155px;}

/* background pattern */
.ptwrap div,
.skwrap div {
    border: 3px solid #ededed;
    border-radius: 4px 4px 4px 4px;
    margin: 10px 9px 0 0;
    width: 105px;
    height: 65px;
    float: left;
    cursor: pointer;
}

.ptwrap div:hover,
.skwrap div:hover {
    border: 3px solid #98CEE3;
}
.ptwrap div.selected,
.skwrap div.selected {
    border: 3px solid #f90;
}
/* Skin select */
.skwrap .slitem {
    background: url("../images/theme-settings/color-select.png") no-repeat 0 0;
    width: 97px;
    height:  57px
}
#skblue {background-position: -97px 0}
#skbrown {background-position: -194px 0}
#skgray {background-position: -291px 0}
#skgreen {background-position: -388px 0}
#skpink {background-position: -485px 0}
#skred {background-position: -582px 0}
#skviolet {background-position: -679px 0}
/* Layout settings 
--------------------------------------------------------------------------*/
.bgwrap div {
    border: 3px solid #ededed;
    border-radius: 4px 4px 4px 4px;
    margin: 10px 9px 0 0;
    width: 105px;
    height: 65px;
    float: left;
    cursor: pointer;
}
.bbwrap div,
.fbwrap div,
.sbpwrap div,
.nbdwrap div,
.npdwrap div,
.nvdwrap div,
.share-twitter-wrap div,
.share-gplus-wrap div,
.share-stumble-wrap div {
    border: 3px solid #ededed;
    border-radius: 4px 4px 4px 4px;
    margin: 10px 9px 0 0;
    width: 105px;
    height: 65px;
    float: left;
    cursor: pointer;
    background:url(../images/theme-settings/sprite_layout.png) no-repeat 0 0;
}

.bbwrap div:hover,
.fbwrap div:hover,
.sbpwrap div:hover,
.nbdwrap div:hover,
.npdwrap div:hover,
.nvdwrap div:hover,
.bgwrap div:hover,
.share-twitter-wrap div:hover,
.share-gplus-wrap div:hover,
.share-stumble-wrap div:hover {
    border: 3px solid #98CEE3;
}
.bbwrap div.selected,
.fbwrap div.selected,
.sbpwrap div.selected,
.nbdwrap div.selected,
.npdwrap div.selected,
.nvdwrap div.selected,
.bgwrap div.selected,
.share-twitter-wrap div.selected,
.share-gplus-wrap div.selected,
.share-stumble-wrap div.selected {
    border: 3px solid #f90;
}
.bbwrap #bb1,
.fbwrap #fb1 {
    background-position: 0 -65px;
}
.bbwrap #bb2,
.fbwrap #fb2 {
    background-position: -105px -65px;
}
.bbwrap #bb3,
.fbwrap #fb3 {
    background-position: -210px -65px;
}
.bbwrap #bb4,
.fbwrap #fb4 {
    background-position: -315px -65px;
}
.bbwrap #bb5,
.fbwrap #fb5 {
    background-position: 0 -130px;
    clear: left;
}
.bbwrap #bb6,
.fbwrap #fb6 {
    background-position: -105px -130px;
}
.bbwrap #bb7,
.fbwrap #fb7 {
    background-position: -210px -130px;
}
.bbwrap #bb8,
.fbwrap #fb8 {
    background-position: -315px -130px;
}
.bbwrap #bb9,
.fbwrap #fb9 {
    background-position: -420px -130px;
}
.bbwrap #bb10 {
    background-position: -210px -325px;
}
.bbwrap #bb0,
.fbwrap #fb0 {
    background-position: -420px -65px;
}
.sbpwrap #sbpno {
    background-position: -420px -65px;
}
.sbpwrap #sbpright {
    background-position: -105px 0;
}
.sbpwrap #sbpleft {
    background-position: 0 0;
}

.sbpwrap #sbpdisable,
.nbdwrap #nbddisable,
.npdwrap #npddisable,
.nvdwrap #nvddisable {
    display: none;
}

.nbdwrap #nbd1 {
    background-position: 0 -325px;
}
.nbdwrap #nbd2 {
    background-position: 0 -195px;
}
.nbdwrap #nbd3 {
    background-position: -105px -195px;

}
.nbdwrap #nbd4 {
    background-position: -315px -195px;
}
.nbdwrap #nbd5 {
    background-position: -105px -325px;
}
.nbdwrap #nbd6 {
    background-position: -210px -195px;
}

.npdwrap #npd1,
.nvdwrap #nvd1 {
    background-position: 0 -195px;
}
.npdwrap #npd2,
.nvdwrap #nvd2 {
    background-position: 0 -260px;
}
.npdwrap #npd3,
.nvdwrap #nvd3 {
    background-position: -105px -260px;
}
.npdwrap #npd4,
.nvdwrap #nvd4 {
    background-position: -210px -260px;
}
/* Main tabs
--------------------------------------------------------------------------*/
.md-tabs-head {
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    height: 53px;
    max-height: 53px;
    position: relative;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff), color-stop(100%, #F3F3F3));
    background: -webkit-linear-gradient(top, #fff 40%, #F3F3F3 100%);
    background: -moz-linear-gradient(top, #fff 40%, #F3F3F3 100%);
    background: linear-gradient(top, #fff 40%, #F3F3F3 100%);
}
.md-tabs-head .md-tabs-headcontent {
    height: 52px;
    overflow: visible;
    border-bottom: 1px solid #D1D1D1;
}
.md-tabs-head .tab-item.ui-state-active.first, .md-tabs-head .tab-item.ui-state-active.first .tab-link {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.md-tabs-head .tab-item.active {
    background: #fff;
}
.md-tabs-head .tab-item.first, .md-tabs-head .tab-item.first .tab-link {
    -webkit-border-radius: 4px 0 0 0 !important;
    -moz-border-radius: 4px 0 0 0 !important;
    border-radius: 4px 0 0 0 !important;
}
.md-tabs-head .tab-item {
    position: relative;
    display: block;
    float: left !important;
    height: 53px;
    border-right: 1px solid #DEDEDE;
    overflow: hidden;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    border-radius: 0 !important;

}
.md-tabs-head .tab-item.ui-state-active .tab-link,
.md-tabs-head .tab-item.ui-state-active .tab-link:hover,
.md-tabs-head .tab-item.ui-state-active .tab-link:active {
    background: #fff;
    border-top: 2px solid #0074D4;
    padding-top: 0;
    height: 52px;
    color: #0074D4;
    box-shadow: none;
}
.md-tabs-head .tab-item .tab-link {
    height: 53px;
    display: block;
    position: relative;
    padding: 2px 23px 0;
    color: #414141;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.md-tabs-head .tab-item .tab-link:hover {
    background: whiteSmoke;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, whiteSmoke), color-stop(100%, #E3E3E3));
    background: -webkit-linear-gradient(top, whiteSmoke 40%, #E3E3E3 100%);
    background: -moz-linear-gradient(top, whiteSmoke 40%, #E3E3E3 100%);
    background: linear-gradient(top, whiteSmoke 40%, #E3E3E3 100%);
    text-decoration: none;
    border-bottom: 1px solid #D1D1D1;
    height: 50px;
}
.md-tabs-head .tab-item .tab-link:active {
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset;
    text-decoration: none;
}
.md-tabs-head .tab-item .tab-link .tab-text {
    top: 20.5px;
    font-size: 11px;
    height: 11px;
    line-height: 11px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}
.md-tabs-head .tab-text {
    float: left;
    padding-left: 24px;
    position: relative;
}
.md-tabs-head .tab-text::before {
    display: block;
    content: "";
    position: absolute;
    background: url(../images/theme-settings/sprite.png) no-repeat 0 0;
    width: 18px;
    height: 18px;
    left: 0;
    top: -3px;
}
.md-tabcontent {
    padding: 30px 20px !important;
}
.md-listcontent .md-tabcontent {
    padding: 0 !important;
}
#tab-design .tab-text::before {
    background-position: 0 -36px;
}
#tab-text-typography .tab-text::before {
    background-position: 0 -72px;
}
#tab-pages .tab-text::before {
    background-position: 0 -108px;
}
#tab-node-display .tab-text::before {
    background-position: 0 -144px;
}
#tab-display .tab-text::before {
    background-position: 0 -177px;
}
#tab-custom-code .tab-text::before {
    background-position: 0 -213px;
}
#tab-general-settings.ui-state-active .tab-text::before {
    background-position: -77px 0;
}
#tab-design.ui-state-active .tab-text::before {
    background-position: -77px -36px;
}
#tab-text-typography.ui-state-active .tab-text::before {
    background-position: -77px -72px;
}
#tab-pages.ui-state-active .tab-text::before {
    background-position: -77px -108px;
}
#tab-node-display.ui-state-active .tab-text::before {
    background-position: -77px -144px;
}
#tab-display.ui-state-active .tab-text::before {
    background-position: -77px -177px;
}
#tab-custom-code.ui-state-active .tab-text::before {
    background-position: -77px -213px;
}

/* Sub tabs
--------------------------------------------------------------------------*/
.md-subtabs {
    clear: both
}
.md-subtabs .md-subtabs-head {
    border-bottom: 1px solid #E3E3E3;
}
.md-subtabs .subtab-item.first {
    padding-left: 0 !important;
    border-left: 0;
}
.md-subtabs .subtab-item {
    background: none !important;
    position: relative;
    display: block;
    float: left !important;
    height: 27px;
    border-left: 1px solid #E3E3E3;
    padding: 0 20px !important;
    overflow: hidden;
}
.md-subtabs .subtab-link {
    height: 25px;
    border-bottom: 2px solid transparent;
    display: block;
    position: relative;
    color: #242424;
    padding: 0 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.md-subtabs .subtab-item.ui-state-active .subtab-link {
    background: none !important;
    border-bottom: 2px solid #0074D4 !important;
    color: #0074D4;
}
.md-subtabs .subtab-link:hover {
    border-bottom: 2px solid #666;
    color: #666;
    text-decoration: none;
}
.md-subtabs .subtab-item .subtab-text {
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
.md-subtabcontent {
    padding: 20px 0 !important;
}
/* List left
--------------------------------------------------------------------------*/
.md-listleft {
    float: left;
    font: bold 12px Arial, Helvetica, sans-serif;
    margin: 0 40px 0 0;
    width: 200px;
}
.md-listleft li {
    list-style: none;
}
.md-listleft li a {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 13px 22px;
}
.md-listleft li.ui-state-active a,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    background:url(../images/theme-settings/list-active.png) no-repeat 0 0;
    border: none;
    color: #0074D4;
    outline: none;
    font-weight: bold;
}
.md-listleft li.ui-state-active::before a {
    border: none;
}
.md-listcontent {
    float: left;
}
.no-border {
    border: none !important;
}
.border-white {
    border-color: #fff !important;
}

/* Color picker
--------------------------------------------------------------------------*/
.colorSelect,
.colorSelect2 {
    float: left;
    height: 29px;
    margin: 0 6px 0 0;
    width: 56px;
}
.colorSelect span,
.colorSelect2 span {
    background: url(../images/theme-settings/sprite.png) no-repeat -38px -808px;
    float: left;
    height: 29px;
    margin: 0;
    width: 56px;
}

/* Border styles
*/
.form-bordertype {float: left}
.form-bordertype .form-item {position: relative;height: 20px; margin: 5px 0;padding: 0; width: 250px}
.form-bordertype .form-radio {position: absolute; left: 0; top: 0;}
.form-bordertype label {text-indent: -500em;position: absolute; left: 20px;top: -4px; z-index: 1; width: 230px; margin:  0}
.form-bordertype label[for=edit-footer-bo-type-none],
.form-bordertype label[for=edit-block-bo-type-none]{text-indent: 0}
.form-bordertype .border-type {position: absolute; left: 20px;top: 5px; z-index: 2; width: 230px}
.border-type-solid {border-top: 1px solid #000}
.border-type-dotted {border-top: 1px dotted #000}
.border-type-dashed {border-top: 1px dashed #000}
.inputtoslide {width:  100px; float: left; margin: 10px 10px 0 0}
.md-wrap .form-borderstyle input.form-text,
.md-wrap .input-slide input.form-text{width: 40px}

/* Pages
--------------------------------------------------------------------------*/
/* contact */
.contact-sub1,
.contact-sub2,
.contact-sub3 {
    width: 330px;
    float: left;
    margin-right: 20px
}
.contact-sub3 {
    margin-right: 0
}

/* DropKick theme
--------------------------------------------------------------------------*/
.dk_container,
.cf_container {
    background: url(../images/theme-settings/sprite.png) repeat-x 0 -724px;
    border: 1px solid #333;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 12px;
    line-height: 25px;
    height: 25px;
    display: none;
    float: left;
    position: relative;
}
.dk_container:hover,
.cf_container:hover {background-position: 0 -752px;}
.dk_container:focus,
.cf_container:focus {outline: 0;}
.dk_container a,
.cf_container a {
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}

/* Opens the dropdown and holds the menu label */
.dk_toggle,
.cf_toggle {
    background: url(../images/theme-settings/sprite.png) no-repeat right -643px;
    color: #fff;
    padding: 0 30px 1px 10px;
    text-shadow: #000 0 1px 0;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    position: relative;
    zoom: 1;
}
a.dk_toggle:hover,
.dk_open .dk_toggle,
a.cf_toggle:hover,
.cf_open .cf_toggle {
    background-position: right -671px;
    color: #fff;
    text-shadow: #000 0 -1px 0;
    text-decoration:none;
}
/* Applied when the dropdown is focused */
.dk_focus .dk_toggle {

}
.dk_focus .dk_toggle {

}

/* Applied whenever the dropdown is open */
.dk_open,
.cf_open {
    background-position: 0 -752px;
    z-index: 10;
    position: relative;
}

.dk_open .dk_options,
.cf_open .cf_options {
    display: block;
}
/* The outer container of the options */
.dk_options,
.cf_options {
    box-shadow: rgba(0, 0, 0, .35) 0 2px 8px;
    -moz-box-shadow: rgba(0, 0, 0, .35) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, .35) 0 2px 8px;
    display: none;
    margin-top: -1px;
    position: absolute;
    right: -1px;
    width: 100%;
    border: 1px solid #cacaca;
    border-top: none
}
.dk_options a,
.cf_options a {
    background-color: #fff;
    border-bottom: 1px solid #EAEAEA;
    padding: 0 12px;
}
.dk_options li:last-child a,
.cf_options li:last-child a {
    border-bottom: none;
}
.dk_options a:hover,
.dk_option_current a,
.cf_options a:hover,
.cf_option_current a {
    background: url(../images/theme-settings/sprite.png) repeat-x 0 -698px;
    border-bottom-color: #004c72;
    color: #fff;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, .5) 0 1px 0;
}

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner,
.cf_options_inner {
    color: #333;
    max-height: 250px;
    text-shadow: #fff 0 1px 0;
    overflow: auto;
    position: relative;
}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options,
.cf_options_inner,
.cf_touch .dk_options {
    max-height: 250px;
}

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/


.dk_options a,
.dk_options a:link,
.dk_options a:visited,
.cf_options a,
.cf_options a:link,
.cf_options a:visited {
    display: block;
}


.dk_touch .dk_options,
.cf_touch .cf_options {
    overflow: hidden;
}

.dk_touch .dk_options_inner,
.cf_touch .cf_options_inner {
    max-height: none;
    overflow: visible;
}

.dk_fouc select,
.cf_fouc select {
    position: relative;
    top: -99999em;
    visibility: hidden;
}



/* jQuery UI
--------------------------------------------------------------------------*/

/* reset jquery ui */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    padding: 0;
    border: none;
}
.ui-tabs .ui-tabs-nav li a {
    float: none;
    padding: 13px 22px;
    line-height: 15px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.ui-tabs .ui-tabs-nav li {
    top: 0;
    margin: 0;
    float: none;
}
.ui-tabs .ui-tabs-nav {
    border-bottom: none
}

/* start code */
.ui-tabs-hide {display: none !important}


/* slider */
.ui-slider { position: relative; text-align: left; background:url(../images/theme-settings/sprite.png) repeat-x 0 -1032px;}
.ui-slider .ui-slider-handle,
.ui-slider .ui-slider-handle:active,
.ui-slider a.ui-state-active { position: absolute; z-index: 2; width: 19px; height: 19px; cursor: ew-resize;background:url(../images/theme-settings/sprite.png) repeat-x 0 -780px; border: none}
.ui-slider .ui-slider-handle:hover,
.ui-slider .ui-slider-handle:active,
.ui-slider a.ui-state-active {background-position: -19px -780px}
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background:url(../images/theme-settings/sprite.png) repeat-x 0 -1042px;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;}

.ui-slider-horizontal { height: 9px; }
.ui-slider-horizontal .ui-slider-handle { top: -5px; margin-left: -10px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -5px; margin-left: 0; margin-bottom: -10px; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }


/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }